/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/
/ext/himg/output/*
!/ext/himg/output/.gitkeep
spec/dummy/log/
spec/dummy/tmp/
log/test.log

# rspec failure tracking
.rspec_status
