<!DOCTYPE html>
<html>
<head>
  <style>
    body { font-family: Arial; background-color: #f5f5f5; padding: 20px; }
    h1 { color: #333; }
  </style>
</head>
<body>
  <h1><%= @username %></h1>
  <p>This is a test profile for Himg: The Hyper Image Generator</p>
</body>
</html>
